.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
.page-section{
	margin: 30px 0px;
}
.page-section h3.section-headingsubheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.panel{
	padding:20px;
}
.panel-group .panel .team-member {
  margin: 50px 100px;
}