/* Slideshow */

#slideshow {
	width: 100%;
	margin: 0;
	position: relative;
	padding-top: 120px;
  }
  
  #slideshow #slidewindow {
	position: relative;
	overflow: hidden;
  }
  
  #slideshow #slidewindow div {
	position: absolute;
	top: 0;
	width: 100%;
	transition: transform .5s ease;
  }
  
  #slideshow #slidewindow div img {
	display: block;
	width: 100%;
	max-height: 500px;
  }
  
  /* Controls */
  
  #slideshow #controls {
	text-align: center;
	transition: all 200ms ease-in-out;
  }
  
  #slideshow #controls #next, #slideshow #controls #prev {
	position: relative;
	width: 48px;
	height: 48px;
	margin: 8px;
	cursor: pointer;
  }
  
  #slideshow #controls #next {
	float: right;
  }
  
  #slideshow #controls #prev {
	float: left;
  }
  
  #slideshow #controls #next div, #slideshow #controls #prev div {
	position: absolute;
	pointer-events: none;
	border-style: solid;
	border-color: #383838;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	left: 18px;
	top: 18px;
	transform: rotate(45deg);
	vertical-align: top;
	width: 8px;
	height: 8px;
  }
  
  #slideshow #controls #prev div {
	transform: rotate(-135deg);
  }
  
  #slideshow #controls #dots {
	margin: auto;
	display: inline-block;
	padding: 0;
	list-style-type: none;
	width: auto;
  }
  
  #slideshow #controls #dots li {
	display: inline-block;
	border: 2px solid #383838;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	cursor: pointer;
	margin: 26px 4px;
  }
  
  #slideshow #controls #dots .active {
	background: #383838;
  }
  
  #slideshow #controls #dots li:hover,
  #slideshow #controls #next:hover,
  #slideshow #controls #prev:hover {
	transform: scale(1.125);
  }
  
  #slideshow #controls #dots li:active,
  #slideshow #controls #next:active,
  #slideshow #controls #prev:active {
	transform: scale(1);
  }
  